@using vv_airline.Models.Data
@using vv_airline.Models.Enums

@inject IConfiguration _configuration

@model vv_airline.Areas.SearchAndBooking.Models.PassengersInformationModel

@Html.Partial("Partials/_NavBar.cshtml")


<div class=" mx-auto max-w-2xl mb-20">
    <div class="border-solid border-2 border-primary rounded-md">
        <h2 class="text-lg font-semibold leading-9 text-gray-900 border-b-2 border-primary p-2 relative z-20">
            Chi Tiết
            <span class="absolute right-0 pr-2">
                @ViewBag.totalPrice.ToString("N0")
            </span>
        </h2>
        <div>
            <div class="bg-sky-200 p-2 shadow-md relative z-10">
                @ViewBag.goSchedule.FlightRoute.DepartureAirport.Name
                <i class="fa-duotone fa-plane px-2"></i>
                @ViewBag.goSchedule.FlightRoute.DestinationAirport.Name
                <span class="absolute right-0 pr-2">
                    @ViewBag.passengersCount
                    x
                    @ViewBag.goPrice.ToString("N0")
                </span>
            </div>
            @if (ViewBag.goSchedule.HasTransit)
            {
                <div class="bg-sky-50 p-2 shadow-md relative">
                    &emsp;
                    @ViewBag.goSchedule.Flights[0].FlightRoute.DepartureAirport.Name
                    đến
                    @ViewBag.goSchedule.Flights[0].FlightRoute.DestinationAirport.Name
                </div>
            }
            <div class="p-1 text-xs relative">
                &emsp;&emsp;
                @ViewBag.goSchedule.Flights[0].Aircraft.Name
            </div>
            <div class="p-1 text-xs relative">
                &emsp;&emsp;
                Khởi hành: @ViewBag.goSchedule.Flights[0].DepartureTime.ToString("HH:mm dd-MM-yyyy")
            </div>
            <div class="p-1 text-xs relative">
                &emsp;&emsp;
                Thời gian:
                @((int)ViewBag.goSchedule.Flights[0].Duration.TotalHours)
                tiếng
                @(ViewBag.goSchedule.Flights[0].Duration.Minutes != 0 ?
                    (int)ViewBag.goSchedule.Flights[0].Duration.Minutes : "")
            </div>
            @if (ViewBag.goSchedule.HasTransit)
            {
                <div class="bg-sky-50 p-2 shadow-md relative">
                    &emsp;
                    @ViewBag.goSchedule.Flights[1].FlightRoute.DepartureAirport.Name
                    đến
                    @ViewBag.goSchedule.Flights[1].FlightRoute.DestinationAirport.Name
                </div>
                <div class="p-1 text-xs relative">
                    &emsp;&emsp;
                    @ViewBag.goSchedule.Flights[1].Aircraft.Name
                </div>
                <div class="p-1 text-xs relative">
                    &emsp;&emsp;
                    Khởi hành: @ViewBag.goSchedule.Flights[1].DepartureTime.ToString("HH:mm dd-MM-yyyy")
                </div>
                <div class="p-1 text-xs relative">
                    &emsp;&emsp;
                    Thời gian:
                    @((int)ViewBag.goSchedule.Flights[1].Duration.TotalHours)
                    tiếng
                    @(ViewBag.goSchedule.Flights[1].Duration.Minutes != 0 ?
                        (int)ViewBag.goSchedule.Flights[1].Duration.Minutes : "")
                </div>
            }
        </div>
        @if (ViewBag.data.Search.IsRoundtrip)
        {
            <div>
                <div class="bg-sky-200 p-2 shadow-md relative z-10">
                    @ViewBag.returnSchedule.FlightRoute.DepartureAirport.Name
                    <i class="fa-duotone fa-plane px-2"></i>
                    @ViewBag.returnSchedule.FlightRoute.DestinationAirport.Name
                    <span class="absolute right-0 pr-2">
                        @ViewBag.passengersCount
                        x
                        @ViewBag.returnPrice.ToString("N0")
                    </span>
                </div>
                @if (ViewBag.returnSchedule.HasTransit)
                {
                    <div class="bg-sky-50 p-2 shadow-md relative">
                        &emsp;
                        @ViewBag.returnSchedule.Flights[0].FlightRoute.DepartureAirport.Name
                        đến
                        @ViewBag.returnSchedule.Flights[0].FlightRoute.DestinationAirport.Name
                    </div>
                }
                <div class="p-1 text-xs relative">
                    &emsp;&emsp;
                    @ViewBag.returnSchedule.Flights[0].Aircraft.Name
                </div>
                <div class="p-1 text-xs relative">
                    &emsp;&emsp;
                    Khởi hành: @ViewBag.returnSchedule.Flights[0].DepartureTime.ToString("HH:mm dd-MM-yyyy")
                </div>
                <div class="p-1 text-xs relative">
                    &emsp;&emsp;
                    Thời gian:
                    @((int)ViewBag.returnSchedule.Flights[0].Duration.TotalHours)
                    tiếng
                    @(ViewBag.returnSchedule.Flights[0].Duration.Minutes != 0 ?
                        (int)ViewBag.returnSchedule.Flights[0].Duration.Minutes : "")
                </div>
                @if (ViewBag.returnSchedule.HasTransit)
                {
                    <div class="bg-sky-50 p-2 shadow-md relative">
                        &emsp;
                        @ViewBag.returnSchedule.Flights[1].FlightRoute.DepartureAirport.Name
                        đến
                        @ViewBag.returnSchedule.Flights[1].FlightRoute.DestinationAirport.Name
                    </div>
                    <div class="p-1 text-xs relative">
                        &emsp;&emsp;
                        @ViewBag.returnSchedule.Flights[1].Aircraft.Name
                    </div>
                    <div class="p-1 text-xs relative">
                        &emsp;&emsp;
                        Khởi hành: @ViewBag.returnSchedule.Flights[1].DepartureTime.ToString("HH:mm dd-MM-yyyy")
                    </div>
                    <div class="p-1 text-xs relative">
                        &emsp;&emsp;
                        Thời gian:
                        @((int)ViewBag.returnSchedule.Flights[1].Duration.TotalHours)
                        tiếng
                        @(ViewBag.returnSchedule.Flights[1].Duration.Minutes != 0 ?
                            (int)ViewBag.returnSchedule.Flights[1].Duration.Minutes : "")
                    </div>
                }
            </div>
        }
    </div>
</div>


<div class=" mx-auto max-w-2xl mb-20">
    <div class="mt-6 flex items-center justify-center gap-x-20">
        <a asp-controller="Booking" asp-action="RedirectToStripe"
            class="rounded-md bg-primary px-5 py-3 font-semibold text-2xl text-white shadow-sm hover:bg-secondary focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-secondary">
            Thanh toán với Stripe
            <img src="/images/stripe_logo.png" class="inline w-8 rounded-md">
        </a>
    </div>
</div>
@* <div class=" mx-auto max-w-2xl mb-20">
    <div class="mt-6 flex items-center justify-center gap-x-20">
        <a asp-controller="Booking" asp-action="CheckoutSuccess"
            class="rounded-md bg-primary px-5 py-3 font-semibold text-2xl text-white shadow-sm hover:bg-secondary focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-secondary">
            Thanh toán thành công (DEBUG)
        </a>
    </div>
</div> *@

<div class=" mx-auto max-w-2xl mb-20">
    <div class="mt-6 flex items-center justify-center gap-x-20">
        <button type="button" class="text-sm font-semibold leading-6 text-gray-900">
            <i class="fa-solid fa-arrow-left"></i>
            Quay lại
        </button>
    </div>
</div>